// bower:scss
// endbower



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


// Setting up the variables for the application

$orange: #ff9e00;
$grey: #403c3d;
$red: #e74028;
$grey-button: #e7e7e7;
$black: #000000;
$white: #ffffff;
$btn-green: #3ebba5;
/*malika variable declaration-section*/
$helppage-h1: #10abf2;
$helppage-h3: #000000;
$blue: #139cb8;
$shop-h1-div:#1fbba6;
//--chosse language page color variable(Sanjita)---
$chooselangstart-btn: #f40100;
$imgborder: #c2c2c2;
$spinoption-h1: #4b82c3;
$spinoption-h2: #ff9c00;

$facebook-button: #396be8;
$form-background-color: #f55a55;

$login-button-color: #23d8d2;

//share on social media color variable
$social-f-blue: #3c569f;
$f-blueimg-bg: #354b8b;
$socila-p-red: #c21f18;
$p-red-img-bg: #ad1b18;
$socila-t-green: #3ab3a3;
$t-green-img-bg: #39b3a3;
$socila-g-orange: #d8491f;
$g-orange-img-bg: #cf3900;

// color variables By MJ

$blue-stat: #00aeff;
$num-blue: #1ee090;
$border-gray: #b2b0b1;





body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav{
  background-color: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


  span{
    color: #ffffff;
    text-transform: uppercase;

  }
}


header{
  display: flex;
  justify-content: space-around;

  align-items: center;

  height: 60px;

  border-bottom: 1px solid $grey;

  img{
    margin: 10px;
  }


  .top-things{
    display: flex;
    align-items: center;
  }
}


h1{
  text-align: center;
  margin-top: 30px;
  color: $red;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}




// The spinner section


.container {
  position: absolute;
  //  left: 20%;
  left: 10%;
  top: 30%;

}
.roulette {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  left: 40%;
  background-color: red;
  background-size: 300px 300px;
  background-image: url('http://tehsis.github.io/jfortune/examples/example-2/roulette.png');
  border-radius: 300px;
}

.spinner {
  cursor: pointer;
  color: red;
  font-weight: bold;
  border: none;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
  border-radius: 100%;
  z-index: 1000;
  background-color: blue;
}

.spinner .pointer {
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 40px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid blue;
}


// Setting up the aside section

aside{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 400px;

  .bottom-flex{
    text-align: center;
  }
}



// Other global classes

.btn{
  padding: 10px;
  background: $grey-button;
  border-radius: 5px;
  text-decoration: none;
  color: $black;
  text-align: center;

  &.btn-green{
    background-color: $btn-green;
    color: $white;
  }
}



// This is the lives recharge page
// coded by Sankalp Singha

.livesrecharge{

  h2{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: $black;
    font-weight: bold;

  }


  .push-top{
    margin-top: 40%;
  }

  img{
    display: block;
    margin: 20px auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }


  .btn{
    text-transform: uppercase;
  }

  .button-section{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }




}
/*help-page-section*/
/*coding by malika*/
.help-page{
  h1{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 40px;
    color: $helppage-h1;
    margin-top: 13px;

  }
  .help-h3{
    margin-bottom: 35px;
    padding-left: 40px;
    text-transform: uppercase;
    margin-top: 35px;

  }
  .help-h3-space{
    margin-bottom: 20px;
    padding-left: 40px;
    text-transform: uppercase;
    margin-top: 35px;
    color: $helppage-h3;
  }
}

//coded by sanjita----
//---language choose page----

.choose-language-page
{
	background-image: url('../images/wiziassets/chooselanguage-bg.png');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	h2
	{
		text-transform: uppercase;
		color: $white;
		font-size: 25px;
		text-align: center;
		padding-bottom: 25px;
		padding-top: 10px;
		font-weight: bold;
	}
	.flag-div
	{
		display: flex;

	}

	.arbic-img-span
	{
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;

	}
	.choose-language-button
	{
		background-color: $chooselangstart-btn;
		color: $white;
		text-transform: uppercase;
		border: 0;
		border-radius: 15px;
		font-size: 25px;
		padding: 12px 35px;
		margin-top: 20px;
	}
} //laguabe choose page end---

//-----coded by Sanjita-------------
//-------question bank page---------------
.question-bank-page
{
  margin-top: 70px;
  h2
  {
    padding-top: 25px;
    a {
      color: $orange;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 22px;
      padding-left: 27px;

    }
  }
  p{
    color: $black;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 25px;
    padding-left: 27px;
    padding-right: 10px;
    line-height: 1.3em;

  }

}
//---question bank page end------




// This is invite friend page. By: Neeraj Rana

.invitepage {

  h1{
    color: $blue;
    font-size: 30px;
  }
  .small{
    font-size: 12px;
    text-align: center;
    margin: 12px auto ;
    font-weight: bold;

  }
  input{
    border: 1px solid #B2B0B1;
    background: #EBEBEB;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-size: 20px;
  }
  .center{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  h2{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    color: $black;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .btn{
    margin: 40px;
    width: 50%;
    background-color: $red;
  }
  .half{
    width: 120px;
    left: 0;
    bottom: 0;
    position: absolute;
  }

}



.spin-selection-page{
  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    color: $spinoption-h1;
  }
  h3{
    text-align: center;
    text-transform: uppercase;
    color: $helppage-h3;
    margin-top: 10px;
  }
  .book-img{
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
    color: $spinoption-h2;
    margin-top: 30px;
    font-size: 20px;
  }
  .spin-icon-pic{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    .test-div{
      padding-right: 30px;
    }

    img{
      display: block;
    }
    .img-border{
      border-right: 1px solid $imgborder;
      padding-right: 25px;
      .correct-icon{
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
      }

    }
    .img-no-border{
      .correct-icon{
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
    p{
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}



// Login page design
// Coded by Sankalp Singha

.login-page{


  background: url("../images/wiziassets/login-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .logo-login{
    display: block;
    margin: auto;
    width: 350px;
    padding-top: 20%;
  }

  .login-button-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .btn{
      width: 250px;
      border-radius: 30px;
      color: $white;
      font-size: 0.6rem;
      text-transform: uppercase;
      padding: 10px;
    }

    .google-login-btn{
      background: $red;
    }

    .facebook-login-btn{
      background: $facebook-button;
    }

    .btn + .btn{
      margin-top: 10px;
    }

  }


  hr{
    width: 60%;
    margin-top: 15px;
    border-bottom: none;
  }

  h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
  }

  form{
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    input{
      padding: 7px;
      width: 65%;
      background: $form-background-color;
      border: none;

      &:focus{
        outline: none;
      }
    }

    input + input{
      margin-top: 10px;
    }
  }

  // Changing the placeholder colors.

  ::-webkit-input-placeholder {
    color: $white;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $white;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $white;
  }

  :-ms-input-placeholder {
    color: $white;
  }

  .login-btn{
    width: 65%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 25px;
    text-transform: uppercase;
    background: $login-button-color;
    color: $white;
    font-size: 0.7rem;
  }

  .forgot-link{
    color: $black;
    //text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: bold;
    margin-top: 15px;
  }


  .bottom-section{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;

    h3{
      margin-top: 10px;
    }
  }


}




//share on social media page (Sanjita Singha)

.share-socialmedia
{
  margin: 90px 0;
  h2
  {
    text-transform: uppercase;
    color: $black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 17px;
    font-weight: bold;
  }
  .wizi-img-div
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-btn-div
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    .f-icon-btn-blue
    {
      background-color: $social-f-blue;
    }
    .p-icon-btn-red
    {
      background-color: $socila-p-red;
    }
    .t-icon-btn-green
    {
      background-color: $socila-t-green;
    }
    .g-icon-btn-orange
    {
      background-color: $socila-g-orange;
    }
    .sharesocial-button
    {

      color: $white;
      text-transform: capitalize;
      padding: 15px 0px;
      padding-right: 0px;
      padding-left: 40px;
      font-size: 20px;
      border-radius: 10px;
      margin: 10px 0;
      display: flex;
      width: 200px;
      font-weight: bold;
    }
    .f-blue-img
    {
      background-color: $f-blueimg-bg;
      display:inline-block;
      width: 50px;
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -15px;
      margin-left: -50px;
      margin-right: 15px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .p-red-img
    {
      background-color: $p-red-img-bg;
      display:inline-block;
      width: 50px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -15px;
      margin-left: -50px;
      margin-right: 15px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

    }
    .t-green-img
    {
      background-color: $t-green-img-bg;
      display:inline-block;
      width: 50px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -15px;
      margin-left: -50px;
      margin-right: 15px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

    }
    .g-orange-img
    {
      background-color: $g-orange-img-bg;
      display:inline-block;
      width: 50px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -15px;
      margin-left: -50px;
      margin-right: 15px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

    }

  }
}



// This is written by mritunjay : a statisticc
.stattics{
  table{
    width: 100%;
  }
  tr{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid $border-gray;
    padding-right: 20px;
    padding-bottom:0px;
    td {
      height: 55px;
      vertical-align: middle;
      padding-bottom: 5px;
      .shift-right-10 {
        margin-left: 10px;
      }
      .shift-right-5{
        margin-left: 5px;
      }
      .shift-top-10{
        margin-top:2px;
      }
      .shift-bottom-5{
        margin-bottom: 5px;
      }
      h2 {
        padding-top: 15px;
      }
      .number {
        margin-top: 10px;
        display: block;
      }
    }
    .image{
      width: 35%;
      vertical-align: middle;
      img{
        display: block;
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .text{
      text-align: left;
      width:50%;
    }
  }
  h1{
    text-align: center;
    color: $blue-stat;
    font-size: 30px;
    font-weight: 800;
    margin-top: 13px;
    margin-bottom: 20px;
  }
  .vertical{
    height: 50px;
    border-right: 1px solid $border-gray;
    margin-right: 40px;
    vertical-align: middle;
  }
  h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -20px;
  }
  .number{
    font-size: 30px;
    color: $num-blue;
  }
}




/* shop-section done by malika*/
.shoppage{
  margin-top: -29px;
  .shop-heading{
    background-color: $shop-h1-div;
    h1{
      font-size: 40px;
      color: $white;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .shop-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    .heart-shape{
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .coin-shape{
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .shop-img-div{
      border-right: 1px solid black;
      padding: 2px;

      img{
        display: block;
        margin-right: 20px;

      }



    }
    .coins-pic{
      padding-top: 10px;
      padding-bottom: 10px;

    }
    p{
      // margin-left: -100px;
      text-transform: uppercase;
      text-align: left;


    }
    button{
      text-align: right;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: $shop-h1-div;
      color: $white;
      box-shadow: 2px 2px 2px $shop-h1-div;
      border: 0;
      font-size: 10px;
    }
  }

}
